       
       <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="UTF-8"/>
       <meta name="viewport" content="width=device-width, initial-scale=1" />
       <title>ttiittllee</title>
       <!-- base -->
       <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" >
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans" >
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower" >
       <link rel="stylesheet" href="../recipe.css" type="text/css" >
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
       <script src="../js/wordcloud2.js"></script>
       <script src="../js/lodash.min.js"></script>
